@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  background-color: #f4f6f8;
  color: #222;
}

header {
  padding: 1.5rem;
  text-align: center;
  color: white;
  background-color: #007b5f;
}

h2 {
  margin-top: 0;
  text-align: center;
  margin-bottom: 0.3rem;
}

h3 {
  margin-top: 0rem;
  margin-bottom: 0.3rem;
  font-size: 1.5rem;
}

h4{
  margin-top: 0rem;
  margin-bottom: 0.3rem;
  margin-left: 1.5rem;
  font-size: 1.35rem;
}

h5{
  margin-top: 0rem;
  margin-bottom: 0.3rem;
  margin-left: 2.5rem;
  font-size: 1.25rem;
}

p, ul, span {
  margin-top: 0;
  margin-bottom: 0.3rem;
  font-size: 1.25rem;
}

p span {
  color: #007b9f;
}

.file-path{
  white-space: normal;
  word-wrap: break-word; 
  overflow-wrap: anywhere;
}

.txt_center {
  text-align: center;
}

.txt_center p {
  text-align: center;
}

.tab-content {
  padding-top: 70px;
}

.tab-content.active {
  display: block;
}

.layout-container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #d4ede1;
  width: 250px;
  padding: 1rem;
  position: sticky;
  top: 0;
  height: 100vh;
  z-index: 1000;
}

.sidebar-toggle {
  display: none;
}

.main-nav {
  display: flex;
  flex-direction: column;
}

.nav-link,
.tab-button {
  background: none;
  border: none;
  color: #006f5c;
  text-align: left;
  /* font-size: 1.25rem; */
  font-size: 1.1rem;
  padding: 0.7rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
  width: 100%;
}

.nav-link:hover,
.tab-button:hover {
  background-color: #a8d5ba;
}

.tab-button.active {
  background-color: #007b5f;
  color: white;
  font-weight: bold;
  margin-bottom: -0.5rem;
}

.nav-section .sub-links {
  margin-left: 1rem;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
}

.sub-links button {
  font-size: 0.95rem;
  color: #004d3a;
  background: none;
  border: none;
  padding: 0.3rem 0;
  text-align: left;
  cursor: pointer;
  transition: color 0.3s;
}

.sub-links button.active {
  font-weight: bold;
  color: #007b5f;
}

/* CONTENU PRINCIPAL */
.main-content {
  flex: 1;
  padding: 2rem;
  overflow: auto;
  margin-top: -5rem;
}

/* SUBNAV Horizontale si besoin */
.subnav {
  position: static;
  background-color: #d1e7dc;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.project-subnav {
  display: none;
  margin-left: 2.5rem;
  margin-top: -0.25rem;
  flex-direction: column;
  font-size: 1rem;
}

.project-subnav a {
  display: block;
  padding: 0.15rem 0;
  color: #004d3a;
  text-decoration: none;
  transition: color 0.3s;
}

.project-subnav a:hover {
  color: #007b5f;
}

.project-subnav.active {
  display: flex;
}

.subtab-button {
  display: block;
  text-decoration: none;
  background: none;
  border: none;
  padding: 0.3rem 0;
  text-align: left;
  cursor: pointer;
  color: #004d3a;
  transition: color 0.3s;
  font-size: 1.05rem;
}

.subtab-button.active {
  font-weight: bold;
  color: #007b5f;
}

.subtab-button.active::before {
  content: "➤";
  color: #007b5f;
  margin-right: 0.5rem;
  font-weight: bold;
}


.subtab-content {
  border: 2px solid #cce4d8;
  background-color: #f8fbfa;
  padding: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.projet-titre {
  font-size: 1.7rem;
  color: #007b5f;
  margin-bottom: 1rem;
  border-bottom: 2px solid #007b5f;
  padding-bottom: 0.5rem;
}


footer {
  text-align: center;
  padding: 1rem 0;
  background-color: black;
  color: white;
  margin-top: 0rem;
  font-size: 0.9rem;
}

/* IMAGES ET VIDÉOS */
img {
  margin: 0rem;
  max-width: 100%;
  height: auto;
}

.image-container {
  text-align: center;
  margin: 2rem 0;
}

.image-centree {
  max-width: 80%;
  height: auto;
  cursor: pointer;
}

.image-small {
  max-width: 40%;
  height: auto;
  cursor: pointer;
}

.image-mean {
  max-width: 60%;
  height: auto;
  cursor: pointer;
}

video {
  display: block;
  margin: 2rem auto;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  max-width: 90%;
}

/* LIENS DE TÉLÉCHARGEMENT */
.download-link {
  display: inline-block;
  margin-top: 0.5rem;
  text-decoration: none;
  color: #007b5f;
  font-weight: bold;
  font-size: 1.3rem;
  transition: color 0.3s ease;
}

.download-link:hover {
  color: #004d3a;
}

/* TITRE ORBITRON */
.header__container_domaine {
  font-family: "Orbitron";
  font-size: 3rem;
  font-weight: 200;
  line-height: 2rem;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 1px #00f5d4;
  margin-top: -3rem;
  margin-bottom: -3rem;
}

/* CONTENEUR SECTION */
.section__container {
  max-width: 1200px;
  margin: auto;
  padding: 2rem 1rem;
}

/* ARBORESCENCE */
.arbo ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.arbo .folder,
.arbo .file {
  margin-left: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.arbo .folder > ul,
.arbo .file > ul {
  padding-left: 15px;
}

.arbo .folder::before {
  content: "📁 ";
}

.arbo .file::before {
  content: "📄 ";
}


table{
  margin: auto;
  padding: auto;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.5rem 1rem;
}


.to-project {
  font-size: 1.4rem;         
  font-weight: 600;          
  color: #027158;            
  cursor: pointer;           
  text-decoration: none;    
  margin-left: 5rem;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.to-project:hover {
  color: #004d3a;            
  text-decoration: underline;
}

.to-project:active {
  color: #002818;            
}

.to-project::before {
  color: #007b5f;
  transition: color 0.3s ease;
}

.nav-link.tab-button {
  text-decoration: none;
}


.to-project:hover::before {
  color: #004d3a;
}

@media only screen and (min-width: 250px) and (max-width: 568px) {
  header {
    padding: 0.5rem;
  }

  h3 {
    font-size: 0.7rem;
  }

  h4{
    margin-left: 1rem;
    font-size: 0.65rem;
  }

  h5{
    margin-left: 1.5rem;
    font-size: 0.6rem;
  }

  p, ul, span {
    font-size: 0.53rem;
  }

  .tab-content {
    padding-top: 70px;
  }

  .layout-container {
    min-height: 100vh;
  }

  .sidebar {
    width: 90px;
    padding: 0.1rem;
    height: 100vh;
  }


  .nav-link,
  .tab-button {
    font-size: 0.65rem;
    padding: 0.1rem 0.1rem;
  }


  .nav-section .sub-links {
    margin-left: 0.2rem;
  }

  .sub-links button {
    font-size: 0.4rem;
  }

  .project-subnav {
    margin-left: 1rem;
    font-size: 0.5rem;
  }

  .main-content {
    padding: 0.5rem;
  }

  .subtab-button {
    font-size: 0.6rem;
  }

  .subtab-button.active::before {
    margin-right: 0.3rem;
  }

  .subtab-content {
    margin-top: 0.5rem;
    padding: 0.5rem;
  }

  .projet-titre {
    font-size: 0.9rem;
  }

  footer {
    font-size: 0.5rem;
  }

  .download-link {
    font-size: 0.6rem;
  }

  .header__container_domaine {
    font-size: 1rem;
  }

  .section__container {
    max-width: 568px;
    padding: 1rem 0.3rem;
  }

  table, th, td {
    padding: 0.3rem 0.2rem;
    font-size: 0.5rem;
  }

  .to-project {
    font-size: 1rem;           
    margin-left: 0.5rem;
  }

  video{
    width: 80% !important;
  }

  .image-container {
    margin: 0.5rem 0;
  }
}

@media only screen and (min-width: 567px) and (max-width: 768px) {
  header {
    padding: 1rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4{
    margin-left: 2rem;
    font-size: 1rem;
  }

  h5{
    margin-left: 2rem;
    font-size: 0.9rem;
  }

  p, ul, span, .download-link {
    font-size: 0.8rem;
  }


  .sidebar {
    width: 100px;
    padding: 1rem;
    height: 100vh;
  }


  .nav-link,
  .tab-button {
    font-size: 0.7rem;
    padding: 0.5rem 0.5rem;
  }


  .nav-section .sub-links {
    margin-left: 0.5rem;
  }

  .sub-links button {
    font-size: 1rem;
  }

  .project-subnav {
    margin-left: 1.2rem;
    font-size: 0.65rem;
  }

  .main-content {
    padding: 1rem;
  }

  .subtab-button {
    font-size: 1rem;
  }

  .subtab-button.active::before {
    margin-right: 0.5rem;
  }

  .subtab-content {
    margin-top: 0.8rem;
    padding: 0.8rem;
  }

  .projet-titre {
    font-size: 1.2rem;
  }

  footer {
    font-size: 0.7rem;
  }

  .header__container_domaine {
    font-size: 2rem;
  }

  .section__container {
    max-width: 768px;
    padding: 2rem 1rem;
  }

  table, th, td {
    padding: 0.5rem 0.5rem;
    font-size: 0.8rem;
  }

  .to-project {
    font-size: 1.1rem;           
    margin-left: 1rem;
  }

  video{
    width: 60% !important;
  }

  .image-container {
    margin: 0.8rem 0;
  }
}

@media only screen and (min-width: 767px) and (max-width: 1000px) {
  h3 {
    font-size: 1.3rem;
  }

  h4{
    margin-left: 3rem;
    font-size: 1.2rem;
  }

  h5{
    margin-left: 3.5rem;
    font-size: 1.1rem;
  }

  p, ul, span, .download-link {
    font-size: 1rem;
  }

  .sidebar {
    width: 180px;
    padding: 1rem;
    height: 100vh;
  }


  .nav-link,
  .tab-button {
    font-size: 0.9rem;
    padding: 1rem 1rem;
  }


  .nav-section .sub-links {
    margin-left: 1rem;
  }

  .sub-links button {
    font-size: 1.2rem;
  }

  .project-subnav {
    margin-left: 2rem;
    font-size: 1.1rem;
  }

  .main-content {
    padding: 2rem;
  }

  .subtab-button {
    font-size: 1.2rem;
  }

  .subtab-button.active::before {
    margin-right: 1rem;
  }

  .subtab-content {
    margin-top: 1rem;
    padding: 1rem;
  }

  .projet-titre {
    font-size: 1.5rem;
  }

  footer {
    font-size: 1rem;
  }

  .header__container_domaine {
    font-size: 2.5rem;
  }

  .section__container {
    max-width: 1000px;
    padding: 2rem 1rem;
  }

  table, th, td {
    padding: 0.8rem 1rem;
    font-size: 1rem;
  }

  .to-project {
    font-size: 1.3rem;           
    margin-left: 1rem;
  }

  .image-container {
    margin: 1rem 0;
  }
}
