:root {
  /* --code-color: #1e1e1e; */
  --code-color: #181a1f;
}


.code-container {
  background-color: var(--code-color);
  color: #e0e8f0;
  border: 1px solid #444;
  border-radius: 5px;
  position: relative;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0rem;
} 


details.code-container summary{
  padding: 1rem;
}

details.code-container pre {
  margin-top: -1rem !important; 
  padding-top: 0 !important;
}

/* .code-container pre{
  margin-top: -1rem;
} */

code {
  background-color: var(--code-color) !important;
  display: block;    
  word-break: normal;      
}

pre {
  max-height: 400px;
  overflow: auto;
  background: transparent; 
}

pre, code {
  font-size: 15px;
  padding: 0 0.5rem !important;
  margin: 0;
  white-space: pre;
  font-family: 'Courier New', monospace;
}

pre::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

pre::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
}

.btn-bar {
  position: absolute;
  top: 10px;
  right: 10px;
}

.btn-bar button {
  background-color: transparent;
  color: white;
  border: none;
  margin-left: 5px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.9em;
}

.btn-bar button:hover {
  background-color: #666;
}

.notif {
  display: inline-block;
  margin-left: 10px;
  font-size: 0.85rem;
  color: #6cf57c;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.notif.visible {
  opacity: 1;
}


@media only screen and (min-width: 250px) and (max-width: 568px) {
  pre, code, .btn-bar button, .notif {
    font-size: 0.53rem;
  }
  .code-container {
    margin: 0.5rem auto;
  }
}

@media only screen and (min-width: 567px) and (max-width: 768px) {
  pre, code, .btn-bar button, .notif {
    font-size: 0.8rem;
  }
  .code-container {
    margin: 0.8rem auto;
  }
}

@media only screen and (min-width: 767px) and (max-width: 1000px) {
  pre, code, .btn-bar button, .notif {
    font-size: 1rem;
  }
  .code-container {
    margin: 1rem auto;
  }
}